/* .inputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.inputFormTitle{
    display: flex;
    justify-content: center;
} */

/* .tableContainer{
    display: flex;
    justify-content: center;
}

.tableContainer table{
    width: 800px;
}

.tableContainer table thead{
    font-weight: 700;
}

.tableContainer table td:first-child{
    width: 30%;
}

.tableContainer table td:nth-child(2){
    width: 60%;
}

.tableContainer table td:last-child{
    width: 10%;
    text-align: center;
} */