.title{
    display: flex;
    justify-content: center;
    background-color: rgb(5, 5, 61);
    color: white;
    font-weight: 700;
    padding: 30px 0px;
    font-size: 30px;
}

.welcomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 244);
    height: 100px;
    position: relative;
}

.welcome{
    font-weight: 500;
    font-size: 20px;   
}

.welcomeContainer img{
    position: absolute;
    right: 20px;
    border-radius: 50%;
}

.userLog{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 80px;
    height: 180px;
    align-items: center;
}

.headers{
    background-color: rgb(5, 5, 61);
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
}

.signIn form,
.signUp form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 170px;
}

.signIn form input, 
.signUp form input{
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}

.userLogContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}